This program compares the ZCTA-tract crosswalk with the EJ40 database to generate a percentage of tracts within a zip code that are identified EJ communities. 

This is not a perfect approximation for the percentage of people in a zip code living in EJ communities; while census tracts are typically similar in population, they can vary from between 1200 and 8000 people, and some census tracts are split across zip codes.

In [3]:
import pandas, pyprojroot

crosswalk = pyprojroot.here('./data/inputs/zcta2tract10.csv')
ej40table = pyprojroot.here('./data/inputs/communities-2022-05-31-1915GMT.csv')

outpath = pyprojroot.here('./data/outputs/ZCTA_EJ_special.csv')

lookup = pandas.read_csv(crosswalk)
ej = pandas.read_csv(ej40table)

In [4]:
zcta_name = 'ZCTA5'
tract_geoid_name = 'GEOID'

#uncomment these lines if using 2020 ZCTA lookup
#zcta_name = 'NAMELSAD_ZCTA5_20'
#tract_geoid_name = 'GEOID_TRACT_20'

#remove census tracts which don't have an associated zip code (eg, national parks)
lookup = lookup.dropna()

#keep only the columns we need: ZCTA and tract for the lookup; tract ID and key summary stats for the EJ table.
lookup = lookup[[zcta_name, tract_geoid_name]]
columns = ['Census tract ID','Identified as disadvantaged','Total categories exceeded','Total threshold criteria exceeded', 'Diesel particulate matter exposure (percentile)', 'Traffic proximity and volume (percentile)', 'Is low income and high percent of residents that are not higher ed students?']
ej = ej[columns]
ej.set_index('Census tract ID',inplace=True)

In [17]:
#merge the dataframes
joined = lookup.merge(ej, left_on=tract_geoid_name, right_index=True)

#run summary statistics to obtain the means for each category
#...but first, convert bools to ints
boolnames = ['Identified as disadvantaged', 'Is low income and high percent of residents that are not higher ed students?']
bools = joined[boolnames]

a = [0] * len(bools)
b = [0] * len(bools)

for i, j in bools.iterrows():
    a[i] = int(j[0])
    b[i] = int(j[1])

#replace bool columns with ints
joined = joined.drop(boolnames, axis=1)
joined.insert(1, boolnames[0], a)
joined.insert(2, boolnames[1], b)

result = joined.groupby(zcta_name).mean().drop(tract_geoid_name, axis=1) #does Python have a pipe operator?

#create num_tracts column
nt = joined[zcta_name].value_counts()
result = result.merge(nt, left_index=True, right_index=True).rename({zcta_name:'num_tracts'}, axis=1)
result

,Identified as disadvantaged,Is low income and high percent of residents that are not higher ed students?,Total categories exceeded,Total threshold criteria exceeded,Diesel particulate matter exposure (percentile),Traffic proximity and volume (percentile),num_tracts
601,1.000,1.0,1.857143,3.000000,0.000000,24.000000,7
602,1.000,1.0,1.000000,2.444444,1.888889,20.888889,9
603,1.000,1.0,1.375000,3.125000,2.375000,54.437500,16
606,1.000,1.0,1.500000,2.250000,0.000000,6.500000,4
610,0.875,1.0,1.125000,2.625000,1.375000,27.625000,8
...,...,...,...,...,...,...,...
99923,1.000,1.0,0.000000,0.000000,0.000000,NaN,1
99925,0.000,0.0,0.000000,0.000000,0.000000,NaN,1
99926,0.000,0.0,0.000000,0.000000,1.000000,NaN,1
99927,0.000,0.0,1.000000,1.000000,0.000000,NaN,1
99929,0.000,0.0,0.000000,0.000000,0.000000,NaN,1

In [19]:
joined.to_csv(outpath)